<section class="form-login">

  <form
    fxLayout="column"
    fxLayoutAlign="center left"
    fxLayoutGap="1vh"
    [formGroup]="loginForm"
    #fLogin="ngForm"
    (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input
        autocomplete="email"
        email
        matInput
        formControlName="email"
        name="email"
        ngModel
        placeholder="Your email"
        required
        type="email"    
      >
      <mat-hint>Please enter a valid email</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        autocomplete="current-password"
        matInput
        formControlName="password"
        name="password"
        ngModel
        placeholder="Your password"
        required
        type="password"
      >
      <mat-hint>Please enter your password</mat-hint>
      <mat-error>Missing password.</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Log In</button>

  </form>
</section>
